<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página de exclusão de elementos</title>
    </head>
    <body>
        <form>
            {% csrf_token %}
            <h1>Confirmar exclusão do {{item.investimento}}</h1>
            <button><a href="{% url 'investiments' %}">Cancelar</a></button>
            <button type="submit">Confirmar</button>
        </form>
        
    </body>
</html>