{% extends 'investimentos/base.html'%}
{% block conteudo %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalhes do Produto {{dados.id}}</title>
    </head>
    <body>
        <header><h1>Detalhe de Investimento</h1></header>
        <section>
            <article>
                <button><a href="{% url 'novo_cadastro' %}">Cadastre um novo investimento</a></button>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Investimento</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Pago</th>
                    </tr>
                    <tr>
                        <td>{{dados.id}}</td>
                        <td>{{dados.investimento}}</td>
                        <td>{{dados.valor}}</td>
                        <td>{{dados.data}}</td>
                        <td>{{dados.pago}}</td>
                    </tr>
                </table>
            </article>
        </section>
    </body>
</html>
{% endblock%}